.search-form {

  $formHeight: 100px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: $formHeight + 10;
  font-size: 0.8em;
  z-index: 1;

  &__label {
    padding: 36px 6px;
    align-self: center;
    label {
      margin-top: 16px;
    }
  }

  &__input {
    padding: 36px 6px 0;
    align-content: end;
    input{
      padding: 6px;
      outline: none;
    }
  }

  &__submit-button {
    padding: 36px 6px;
    align-content: start;
    button {
      outline: none;
    }
  }

  &__alert-wrapper{
    margin: 5px 0 0 2px;
    min-height: 30px;
  }

  &--error{
    $errorColor: red;
    color: $errorColor;
    input{
      border: $errorColor 1px solid;
    }
  }

}

