.search-form {

  $formHeight: 100px;
  background: -moz-linear-gradient(top, rgba(242,242,242,1) 48%, rgba(242,242,242,0) 93%, rgba(242,242,242,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 48%,rgba(242,242,242,0) 93%,rgba(242,242,242,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(242,242,242,1) 48%,rgba(242,242,242,0) 93%,rgba(242,242,242,0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: $formHeight + 10;
  font-size: 0.8em;
  z-index: 1;
  margin-bottom: 30px;
  transition: color 200ms ease;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;

  &__label {
    padding: 36px 6px;
    font-size: 1.3em;
    font-weight: 300;
    align-self: center;
    label {
      margin-top: 16px;
    }
  }

  &__input {
    padding: 36px 6px 0;
    align-content: end;
    input{
      padding: 6px;
      outline: none;
    }
  }

  &__submit-button {
    padding: 36px 6px;
    align-content: center;
    button {
      outline: none;
    }
  }

  &__alert-wrapper{
    margin: 5px 0 0 2px;
    min-height: 30px;
  }

  &--error{
    $errorColor: red;
    color: $errorColor;
    input{
      border: $errorColor 1px solid;
    }
  }

}

