.search-form {

  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 90px;
  font-size: 0.8em;
  z-index: 1;
  $lineHeight: 80px;

/*  div{ background-color: #02659B;}*/

  &__label {
    padding: 6px;
    align-content: end;
    min-height: $lineHeight;
    opacity: 0;
  }

  &__input {
    padding: 6px;
    align-content: end;
    min-height: $lineHeight;
    input{
      padding: 6px;
    }
  }

  &__submit-button {
    padding: 6px;
    align-content: start;
    min-height: $lineHeight;
  }

  &--error{
    $errorColor: red;
    color: $errorColor;
    input{
      border: $errorColor 1px solid;
    }
  }

}

