.addresses-wrapper{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 185px;
  height: 100%;

  @media (max-width: 420px) {
    flex-direction: column;
  }

}
