.search-form {

  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 70px;
  font-size: 0.8em;
  z-index: 1;

  &__label {
    padding: 6px;
    align-content: end;
  }

  &__input {
    input{
      padding: 6px;
    }
  }

  &__submit-button {
    padding: 6px;
    align-content: start;
  }
}
