@import "../../../assets/styles/_colors";

.header {
  background: $mgl_blue;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 90px;
  box-shadow: 0 4px 9px -1px rgba(0,0,0,0.53);
  z-index: 3;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &:after{
    content: "";
    background: $mgl_blue url("images/strip-multi-colors.png");
    background-size: contain;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &__logo {
    flex: 0 1 auto;
    margin: 0 20px 0 0;
    img {
      max-height: 85px;
    }

  }

  &__logotype {
    align-items: center;
    color: $paper_white;
    font-size: 1.2em;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.1em;

    @media( max-width: 320px ){
      font-size: 1em;
    }
  }

}
