.btn-mgl{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 35px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-style: none;
  outline: 0;

  &.btn-green{
    background: #76d519;
    color: #fff;
  }
}

input{
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  padding: 6px;
  height: 26px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bcbcbc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bcbcbc;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bcbcbc;
}
