@import "colors";

.btn-mgl{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 35px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-style: none;
  outline: 0;
  text-transform: uppercase;

  &.btn-green{
    background: $mgl_green;
    color: $paper_white;
  }
}

input {
  border-radius: 4px;
  padding: 6px;
  height: 26px;
  font-size: 18px;
  outline: none;
  border: 1px solid $shadow_grey;
  font-family: sans-serif;
  -webkit-appearance: none;
  transition: box-shadow 300ms;
  &:focus {
    outline: none;
    box-shadow: 0.2em 0.8em 1.6em $light-grey;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $light_grey;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $light_grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $light_grey;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: $light_grey;
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0px 1000px $paper_white inset;
  transition: background-color 5000s ease-in-out 0s;
  font-family: sans-serif;
}
